main
.env
.env.testing
.idea
!docs
!docs/docs.go
docs/*
docker/deploy/google-creds.json
docker/deploy/api/.env.migration
docker/deploy/api/.env.*
cover.out
cmd/scheduler/scheduler
cmd/api/api
assets/files/
.config/*
cmd/ws/ws
.DS_STORE
tmp/
experiments
sso/client/.env